.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: palevioletred;
  color: white;

  > * {
    padding: 5px;
  }

  .buttons {
    display: flex;

    a {
      padding: 5px;
    }
  }
}

.container + * {
  margin-top: 50px;
}
